.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  text-align:center
}

.main-wrapper > h1 {
  color: #CAD6D3;
  font: normal normal normal 58px Montserrat;
}

body {
  background: transparent linear-gradient(166deg, #232A28 0%, #191C1B 100%) 0% 0% no-repeat padding-box;
  min-height: 100vh;
  height: 100vh;
}

html {
  overflow-y: auto;
}
